* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 font-family: monospace;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
nav{
    background-color: blanchedalmond;
    padding-left: 3rem;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
}
nav ul{
    min-height: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(226, 143, 190);
}
main{
    padding: 40px;
}