<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="./">home</a>
        </li>
        <li>
          <a href="./about/">about</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>about</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat,
        inventore nesciunt deserunt voluptates porro sapiente error dicta
        impedit veniam quisquam repudiandae. Omnis ipsa est voluptas obcaecati
        earum recusandae asperiores aliquam.
      </p>
    </main>
  </body>
</html>
